<template>
  <div class="login">
    <form action="" novalidate="true">
      <p v-bind:class="{ active: showErrText }" class="error-text">
        Имя пользователя или пароль введены не верно
      </p>
      <p class="error-validate" v-bind:class="{ hide: !validateText.length }">
        {{ validateText }}
      </p>
      <div class="desc">
        <span>max@test.com </span>
        <span>12345</span>
      </div>
      <el-input
        placeholder="username"
        type="email"
        v-model="username"
        @focus="clearAllError()"
      ></el-input>
      <el-input
        placeholder="password"
        v-model="password"
        type="password"
      ></el-input>
      <el-button @click="CheckForms()">
        <span v-if="!load">Sign in</span>
        <span v-else>Loading..</span>
      </el-button>
      <p v-bind:class="{ active: showAnotherErr }" class="error-text">
        {{ showAnotherErrText }}
      </p>
    </form>
    <p>{{ showProfile }}</p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["showProfile"],
  data() {
    return {
      username: "",
      password: "",
      showErrText: false,
      showAnotherErr: false,
      showAnotherErrText: "",
      load: false,
      validateText: "",
      inputEmailText: "Укажите электронную почту.",
      correctEmailText: "Укажите корректный адрес электронной почты.",
    };
  },
  methods: {
    CheckForms() {
      if (!this.username) {
        this.validateText = this.inputEmailText;
      } else if (!this.validEmail(this.username)) {
        this.validateText = this.correctEmailText;
      } else {
        this.clearValidateError();
        this.PostUsername();
      }
    },

    PostUsername() {
      this.load = true;
      axios
        .post("https://mysterious-reef-29460.herokuapp.com/api/v1/validate", {
          email: this.username,
          password: this.password,
        })
        .then((response) => {
          this.showAnotherErr = false;
          this.load = false;
          if (response.data.status == "err") {
            this.showErrText = true;
          } else {
            this.showErrText = false;
            this.$store.state.authorization = true;
            this.$store.state.userId = response.data.data.id;

            this.$router.push({
              name: "Profile",
            });
          }
        })
        .catch((error) => {
          this.showAnotherErr = true;
          this.showAnotherErrText = error;
        });
    },
    clearAllError() {
      this.showErrText = false;
      this.clearValidateError();
    },
    clearValidateError() {
      this.validateText = "";
    },
    validEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
