<template>
  <div class="news">
    <div class="news-item" v-for="item in inNews" :key="item.id">
      <a v-bind:href="item.id" class="news-link">
        <h2>{{ item.title }}</h2>
        <p>{{ item.text }}</p>
      </a>
    </div>
    <p class="total">всего новостей {{ inNews.length }}</p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      inNews: 0,
    };
  },
  methods: {
    GetNews() {
      axios
        .get("https://mysterious-reef-29460.herokuapp.com/api/v1/news")
        .then((response) => {
          this.inNews = response.data.data;
          console.log(response.data);
        })
        .catch(() => {});
    },
  },
  mounted() {
    this.GetNews();
  },
};
</script>