<template>
  <div class="profile">
    <h2 class="notFound" v-show="userNotFound">Пользователь не найден</h2>
    <div v-show="!userNotFound">
      <h2>
        Город:
        <span v-for="item in inDate" :key="item.id">{{ item.city }}</span>
      </h2>
      <h3>Знание языков:</h3>
      <ul v-for="item in inDate" :key="item.id">
        <li v-for="lang in item.languages" :key="lang.id">{{ lang }}</li>
      </ul>
      <h3>Ссылки:</h3>
      <ul class="socials" v-for="items in inDate" :key="items.id">
        <li
          v-for="item in items.social"
          :key="item.id"
          v-bind:class="{ first: item.label == 'web' }"
        >
          <a v-bind:href="item.link" target="_blank">
            <img
              v-bind:src="require(`../../public/${item.label}.svg`)"
              alt="ic"
            />
            <span>{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      inDate: 0,
      userNotFound: true,
    };
  },
  methods: {
    GetUserName(id) {
      axios
        .get(
          "https://mysterious-reef-29460.herokuapp.com/api/v1/user-info/" + id
        )
        .then((response) => {
          if (response.data.status == "err") {
            this.userNotFound = true;
          } else {
            this.inDate = response.data;
            this.userNotFound = false;
          }
        })
        .catch(() => {
          this.userNotFound = true;
        });
    },
  },
  mounted() {
    this.GetUserName(this.$store.state.userId);
  },
};
</script>
