<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/news">News</router-link>
      <router-link to="/profile" v-if="$store.state.authorization"
        >Profile</router-link
      >
      <router-link to="/login" v-if="!$store.state.authorization"
        >Sign in</router-link
      >
      <el-button v-if="$store.state.authorization" @click="SignOut()"
        >Sign out</el-button
      >
    </div>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    SignOut() {
      this.$store.state.authorization = false;
      this.$store.state.userId = "";
      this.$router.push({
        name: "Home",
      });
    },
  },
};
</script>
