form
  width: 200px
  margin: 0 auto
  padding-top: 50px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: flex-start
  input
      margin-bottom: 20px
  button 
      width: 100%

  .desc 
    margin-bottom: 20px
    display: flex 
    justify-content: space-between 
    width: 100%
  
  .error-text
    color: red
    font-size: 12px 
    margin-bottom: 15px 
    text-align: left
    opacity: 0 
    &.active 
      opacity: 1

  .error-validate 
    color: red
    font-size: 12px 
    margin-bottom: 15px 
    text-align: left
    min-height: 1em
    &.hide 
      opacity: 0



#app 
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  ul, li 
    list-style: none 
    margin: 0
    padding: 0
    display: flex 
    list-style: none
    align-items: center 
    justify-content: center
    li 
      padding: 0 10px 
      margin-bottom: 10px
      &.first 
        order: -1

  .socials 
    a 
      display: flex 
      align-items: center 
      text-decoration: none 
      transition: opacity .5s ease 
      color: inherit
      &:hover 
        opacity: 0.5
    img 
      width: 15px 
      height: 15px 
      margin-right: 10px
      object-fit: contain 
      object-position: center

  .fade-enter-active, .fade-leave-active 
    transition: all .5s .5s
  .fade-leave-active 
    transition: all .5s
  
  .fade-enter, .fade-leave-to 
    opacity: 0
    visibility: hidden
  
#nav 
  padding: 30px

  a 
    font-weight: bold
    color: #2c3e50
    padding: 0 15px

    &.router-link-exact-active 
      color: #42b983

.news
  text-align: left
  padding: 0 5vw
  .news-link 
    text-decoration: none  
    color: inherit
    display: block 
    margin-bottom: 30px
    transition: opacity .5s ease
    &:hover 
      opacity: .5
    h2 
      margin-bottom: 10px

  .total 
    text-align: center
    
  

